version: '3.8'

services:
  inventory-backend: # Name of the backend service
    build: backend
    environment:
      POSTGRES_USER_PASSWORD_FILE: /run/secrets/postgres_user_password
      DB_NAME: postgres
      DB_USER: dbuser
      DB_PWD: postgres_user_password
      DB_HOST: host.docker.internal
      DB_PORT: 5432
      DEPLOY_TYPE: dev
    ports:
      - "8001:8080"
    secrets:
      - postgres_user_password

  inventory-frontend: # Name of the frontend service
      build: frontend/inventory
      environment:
        VUE_APP_API_URL: http://localhost:8001
      ports: 
        - "10001:80"
volumes:
  pgdata: # Define the named volume

secrets:
  postgres_user_password:
    file: ./secrets/postgres_user_password.txt